.header {
  display: flex;
  justify-content: space-between;
}

button:hover { 
  box-shadow: 0px 0px 15px $default-gray2;
  cursor: pointer;
}

.goBackIcon {
  display: flex;
  justify-content: flex-start;
}

.title {
  max-width: 500px;
  margin-top: 20px;
}

.description {
  max-width: 830px;
  margin-top: 10px;
}

.questionContainer {
  overflow:auto;
  height: 500px;
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;

  .questionary{
    margin: 10px 0px 10px 0px;
    width: 100%;
  }
  justify-content: space-between;
  .questionContent {
    width: 100%;
    .titleContainer {
      display: flex;
      max-width: 830px;
    }
    h3{
      display: flex;
      align-items: initial;
      margin-right: 20px;
    }
    p {
      text-align: left;
      max-width: 800px;
      margin: auto;
    }
    .optionsContainer{
      width: 300px;
      align-items: initial;
      
      .toggles-container{
        display: flex;
        width: 100px;
        margin: 10px 0px 10px 30px;
      }
    }
  }
  .options {
    // width: 100%;
    max-width: 750px;
    height: 100px;
    display: flex;
    margin: 10px auto;
    textarea {
      width: 100%;
    }
    p {
      margin: auto 30px auto 0;
    }
  }
}

.questionary:hover { 
  box-shadow: 0px 0px 15px $default-gray2;
  cursor: pointer;
}

.questionContent {
  width: 100%;
}
.deleteBtn {
  width: 10px;
  display: block;
  margin: auto 0px auto 10px;
  cursor: pointer;
}

.normalType {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.questionOptions {
  width: 100%;
}
.question {
  display: flex;
  p {
    margin: auto 10px auto 0;
  }
}