button {
  background-color: $default-gray2;
  font-family: $main-font;
}

.register-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 15px 0;
}

.footNote {
  font-size: 0.95em;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  p {
    margin-left: 5px;
  }
}

.checkboxErrorRegister {
  margin: -10px 0;
  padding-bottom: 30px;
}

.el-checkbox__inner {
  width: 20px !important;
  height: 20px !important;
}