.questionariesContainer {
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
  margin-top: 10px;
  border-radius: 10px;
  background: $default-gray;
  justify-content: space-between;
  text-align: start;
}