.header {
  display: flex;
  justify-content: space-between;
}

button:hover { 
  box-shadow: 0px 0px 15px $default-gray2;
  cursor: pointer;
}

.goBackIcon {
  display: flex;
  justify-content: flex-start;
}

.questionariesContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  margin-top: 10px;
  border-radius: 10px;
  background: $default-gray;
}

.questionary{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.questionaryTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;

  h2:first-child {
    margin-right: 10px;
  }
}

.openBtn {
  width: 100px;
}

.quizAnswerSubTitle {
  display: flex;
  justify-content: flex-start;
  padding: 10px 0;
  width: 100%;
}