.el-range-separator {
  width: 10% !important;
}

.el-select-dropdown__item {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .el-select-dropdown__item {
    width: 350px;
    white-space: normal;
    overflow: unset;
    height: auto;
    // line-height: normal;
    padding-top: 10;
    padding-bottom: 10;
  }
}