button {
  border-radius: 10px;
  outline-style: none;
  border-style: none;
  // border: 1px solid #cecece;
  background-color: #2ecc71;
  color: white;
  padding: 15px;
  box-shadow: 0px 5px 15px #cecece;
}

.mainContent {
  width: 700px;
}