* {
  font-family: $main-font
}

h1{
    font-weight: normal;
}

.main {
  height: 100vh;
}

.form-control {
  cursor: pointer;
}

.heavyTextButton {
  font-weight: 600;
}

.btn {
  cursor: pointer;
}

.main-btn {
  width: 100%;
  background-color: $orange;
  font-weight: 700;
}

button {
  border-radius: 5px;
  outline-style: none;
  border-style: none;
  color: $black2;
  padding: 15px;
  cursor: pointer;
}

input, select {
  border: none;
  border-radius: 4px;
  height: 30px;
  background: $light-gray;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  font-family: $main-font;
}

.error {
  color: $red;
  display: inline-block;
  font-size: 12px;
  line-height: 15px;
  margin: 5px 0 0;
  text-align: left;
}

.mainContent {
  min-width: 500px;
  min-height: 306px;
  padding: 30px;
  background-color: white;
  // box-shadow: 0px 5px 15px $default-gray;
  border-radius: 10px;
  margin: auto;
  outline-style: none;
  border-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.progress-bar {
  width: 400px;
  margin: auto;
	border-radius: 9999px;
	position: relative;
	margin-top: 1rem;
	margin-bottom: 1rem;
	height: 12px;
	background: $default-gray
}

.progress-bar > div {
	border-radius: 9999px;
	position: absolute;
	height: 100%;
	background-color: $dark-blue;
	-webkit-transition: all .3s ease;
	transition: all .3s ease
}

.thankYouContainer {
  h1, h2 {
    margin: 20px 0;
  }

  div {
    font-size: 2.5em;
  }
}

//change font to the notification component
.vt-notification {
  font-family: Avenir, Helvetica, Arial, sans-serif !important;
}

//Switch

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}