$orange: #FD7E14;
$gray: #eeeeee;
$default-gray: #cecece;
$default-gray2: #C4C4C4;
$dark-gray: #d4d4d4;
$light-gray: #F5F5F5;
$black: #000000;
$black2: #031633;
$gray-overlay: transparentize($black, 0.12);
$red: #ef476f;
$yellow: #ffd166;
$green: #06d6a0;
$blue: #118ab2;
$dark-blue: #073b4c;
$main-font: Avenir, Helvetica, Arial, sans-serif;