/* Cores do tema do sistema */
$orange:          #FD7E14 !default;
$gray:            #eeeeee !default;
$default-gray:    #cecece !default;
$default-gray2:   #C4C4C4 !default;
$dark-gray:       #d4d4d4 !default;
$light-gray:      #F5F5F5 !default;
$black:           #000000 !default;
$black2:          #031633 !default;
$gray-overlay:      transparentize($black, 0.12) !default;
$red:             #ef476f !default;
$yellow:          #ffd166 !default;
$green:           #06d6a0 !default;
$blue:            #118ab2 !default;
$dark-blue:       #073b4c !default;
$darker-blue:     #052C65 !default;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
$main-font: 'Poppins', Helvetica, Arial, sans-serif !default;