form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px #cecece;
  margin: 20px 0;

  .formSection {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
    label {
      margin-bottom: 5px;
    }
    select {
      min-width: 200px;
      -webkit-appearance: none;
      padding: 7px 40px 7px 12px;
      width: 100%;
      border: 1px solid #E8EAED;
      border-radius: 5px;
      background: white;
      box-shadow: 0 1px 3px -2px #9098A9;
      cursor: pointer;
      font-family: inherit;
      font-size: 16px;
      transition: all 150ms ease;
    }
  }
}