button {
  background-color: $default-gray2;
  font-family: $main-font;
}

.login-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: 15px 0;
}

.buttonsContainer {
  margin: 15px 0;
  display: flex;
  justify-content: flex-start;
}
